@model List<AssigningTasks.Candidate>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Jarak</th>
            <th>Beban</th>
            <th hidden>Latitude</th>
            <th hidden>Longitude</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.DistanceToTarget</td>
                <td>@employee.Load</td>
                <td hidden>@employee.Location.Latitude</td>
                <td hidden>@employee.Location.Longitude</td>
            </tr>
        }
    </tbody>
</table>
