@model AssigningTasks.Sample.ViewModels.TransactionHistoryViewModel

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.TargetName)</th>
            <th>@Html.DisplayNameFor(m => m.CandidateName)</th>
            <th>@Html.DisplayNameFor(m => m.Distance)</th>
            <th>@Html.DisplayNameFor(m => m.RequestTime)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.TargetName</td>
            <td>@Model.CandidateName</td>
            <td>@Model.Distance</td>
            <td>@Model.RequestTime</td>
        </tr>
    </tbody>
</table>