@model List<AssigningTasks.Sample.Data.Candidate>

@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "Minimarket";
}

<h1>@ViewData["Title"]</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].CandidateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Load)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TotalTravel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].IsAssigned) 
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CandidateId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Load)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTravel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAssigned)
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.CandidateId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CandidateId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CandidateId">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>