@model AssigningTasks.Sample.ViewModels.SimulationViewModel

@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "Simulasi";
}

@section HeadSection {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
}

<h1>@ViewData["Title"]</h1>

<div id="loader"></div>
<div id="map" style="height: 300px;"></div>
<hr />

<div class="row" hidden>
    <div class="col-md-3">
        Latitude: <input class="form-control" id="inputLat" placeholder="Latitude" />
        Longitude: <input class="form-control" id="inputLng" placeholder="Longitude" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4><label class="control-label">Pengaturan:</label></h4>
    </div>
    <div class="form-group row col-md-3">
        <label class="col-sm-4 col-form-label" for="algorithmSelected">Algoritma: </label>
        <select class="custom-select mr-sm-2" id="algorithmSelected">
            <option value="1" selected>Nearest Neighbor</option>
            <option value="2">Round Robin</option>
        </select>
    </div>
    <div class="form-group row col-md-3" id="maxLoadSelector">
        <label class="col-sm-7 col-form-label" for="maxLoadSelected">Beban maksimal: </label>
        <select class="custom-select mr-sm-2" id="maxLoadSelected">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
</div>
<hr />
@*<div class="row">
    <div class="col-md-6">
        <label class="control-label">Nearest Neighbor</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Id Pengguna</th>
                    <th>Id Karyawan</th>
                    <th>Jarak (m)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.NnRequest.Id</td>
                    <td>@ViewBag.NnResult.Id</td>
                    <td>@ViewBag.NnResult.DistanceToTarget</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <label class="control-label">Round Robin</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Id Pengguna</th>
                    <th>Id Karyawan</th>
                    <th>Jarak (m)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.RrRequest.Id</td>
                    <td>@ViewBag.RrResult.Id</td>
                    <td>@ViewBag.RrResult.DistanceToTarget</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr />*@
<div class="row">
    <div class="col-md-6">
        <label class="control-label">Pengguna:</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.UserTable)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Location.Latitude</td>
                        <td>@user.Location.Longitude</td>
                        <td>
                            <a onclick="userRequest('@user.Id')">Minta jasa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <label class="control-label">Karyawan yang akan ditugaskan:</label>
        <div id="candidateToAssign">
            @Html.Partial("_CandidatesToAssign", Model.EmployeeTable)
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">Karyawan terpilih:</label>
        <div id="selectedCandidate">
            @Html.Partial("_SelectedCandidate", Model.SelectedCandidate)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">Riwayat Penugasan:</label>
        <div id="transactionHistory">
            @Html.Partial("_TransactionHistory", Model.TransactionHistory)
        </div>
    </div>
</div>


@section MapSection {
<script>
    var myMap = L.map('map', {scrollWheelZoom: false})
        .setView([-6.8986037, 107.6225108], 10);
    var markerGroup = L.layerGroup()
        .addTo(myMap);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        })
        .addTo(myMap);
    updateCoordinate(myMap.getCenter());
    maxLoadSelector.style.visibility = document.getElementById('algorithmSelected').value == 2 ? 'visible' : 'hidden';
    document.getElementById('selectedCandidate').style.visibility = 'hidden';
    loaded();

    myMap.on('moveend', function(e) {
        var coordinate = e.target.getCenter();
        updateCoordinate(coordinate);
        console.log("Moved => lat: " + coordinate.lat + ", lng: " + coordinate.lng);
    });

    myMap.on('click', function(e) {
        var coordinate = myMap.mouseEventToLatLng(e.originalEvent);
        updateCoordinate(coordinate);
        showMarker(coordinate);
        console.log("Clicked => lat: " + coordinate.lat + ", lng: " + coordinate.lng);
    });

    function loading() {
        document.getElementById("loader").style.display = "block";
    }

    function loaded() {
        document.getElementById("loader").style.display = "none";
    }

    document.getElementById('algorithmSelected').onchange = function(e) {
        maxLoadSelector.style.visibility = e.target.value == 2 ? 'visible' : 'hidden';
        @*maxLoadSelected.disabled = e.target.value == 2;*@
    }

    function updateCoordinate(coordinate) {
        document.getElementById('inputLat').value = coordinate.lat;
        document.getElementById('inputLng').value = coordinate.lng;
    }

    function showMarker(coordinate) {
        var marker = L.marker([coordinate.lat, coordinate.lng])
            .bindPopup("Latitude: " + coordinate.lat + "<br/>Longitude: " + coordinate.lng)
            .addTo(markerGroup)
            .openPopup();
    }

    function hideMarkers() {
        markerGroup.clearLayers();
    }

    function userRequest(id) {
        loading();
        $.ajax({
            type: "GET",
            url: "@Url.Action("RequestCandidate")",
            data: {
                id: id,
                algo: document.getElementById('algorithmSelected').value,
                maxLoad: document.getElementById('maxLoadSelected').value,
            },
            success: function(data) {
                $('#candidateToAssign').html(data);
                @*document.getElementById('selectedCandidate').style.visibility = 'visible';*@
                console.log("RequestCandidate - Sukses bos!")

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("SelectedCandidate")",
                    success: function(data) {
                        $('#selectedCandidate').html(data);
                        document.getElementById('selectedCandidate').style.visibility = 'visible';
                        console.log("SelectedCandidate - Sukses bos!");

                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("TransactionHistory")",
                            success: function(data) {
                                $('#transactionHistory').html(data);
                                console.log("TransactionHistory - Sukses bos!")
                            },
                            error: function(exc) {
                                console.log("TransactionHistory - Error bos!");
                                console.log(exc);
                            }
                        });
                    },
                    error: function(exc) {
                        console.log("SelectedCandidate - Error bos!");
                        console.log(exc);
                    }
                });
            },
            error: function(exc) {
                console.log("RequestCandidate - Error bos! " + exc)
            },
            complete: function() {
                loaded();
                console.log("RequestCandidate - Beres bos!")
            }
        });
    }
</script>
    }

